# Ignore sensitive environment files
.env
!.env.example

# Ignore cache and logs
*.log
*.cache

# Ignore IDE and editor settings
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore PHPStorm project settings
/.idea/